<!DOCTYPE html>
{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Level Two</title>
    <link rel="stylesheet" href="{% static 'css/mystyle.css' %}">
    <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="jumbotron">

            <h1>Hi welcome to Django Level Two</h1>
            <h2>These are your access records:</h2>
            <p></p>
            <h2>Go to /users to sign up</h2>
            
            {% comment %}
            <!-- {% if access_records %}
                <table class="table table-bordered table-striped table-hover">
                    <thead>
                        <th>Site Name</th>
                        <th>Date Accessed</th>
                    </thead>
                    
                    {% for acc in access_records %}
                    <tr>
                        <td>{{ acc.name }}</td>
                        <td>{{ acc.date }}</td>
                    </tr>
                    {% endfor %}
                </table>
                {% else %}
                <p>No Access Records Found</p>
                {% endif %} -->
                {% endcomment %}
        </div>
    </div>

</body>

</html>